<!-- <mat-toolbar>
BIODENTIS
</mat-toolbar>

<mat-sidenav-container>


    <mat-sidenav mode="side" opened>
        <img src="https://media.istockphoto.com/vectors/icon-of-tooth-dentist-symbol-logo-of-teeth-graphic-shape-for-dental-vector-id1294412708?b=1&k=20&m=1294412708&s=170667a&w=0&h=TFiONzIWRC2PFFcrZOw8jNkbQ6Q85zVxjBWDoZyJlZs="
        id="icon" alt="User Icon" />
        <h4 class="name">John Smith</h4>
        <p class="designation">Software Engineer</p>

        <mat-nav-list>
            <button mat-button class="menu-button" routerLink="/home">
                <mat-icon>home</mat-icon>
                <span>Home</span>
            </button>
            <span >
                <span >
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title  id="icon">
                                    <div class="menu-button" fxLayout="row" fxLayoutAlign="space-between center">

                                        <mat-icon>person</mat-icon>
                                        Pacientes
                                    </div>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <span >
                                <mat-list-item routerLink="/historia"  id="icon">

                                    <div class="submenu" fxLayout="row" fxLayoutAlign="space-between center">
                                        <mat-icon>add_circle</mat-icon>
                                        <p> Nuevo Paciente</p>  
                                    </div>
                                </mat-list-item>
                                <mat-list-item routerLink="/tabla-Historias-Clinicas"  id="icon">

                                    <div class="submenu" fxLayout="row" fxLayoutAlign="space-between center">
                                        <mat-icon>library_books</mat-icon>
                                        Chequeo Odontologico
                                    </div>
                                </mat-list-item>
                            </span>
                        </mat-expansion-panel>
                    </mat-accordion>
                </span>
            </span>

            <button mat-button class="menu-button" routerLink="/home">
                <mat-icon>calendar_today</mat-icon>
                <span>Citas</span>
            </button>

        </mat-nav-list>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <mat-icon>exit_to_app</mat-icon>
            <span>Cerrar Sesión</span>
        </button>
    </mat-sidenav>


    <mat-sidenav-content> -->
<!-- <router-outlet></router-outlet> -->
<!-- </mat-sidenav-content>
</mat-sidenav-container> -->


<router-outlet></router-outlet>